<!DOCTYPE html>
<html lang="en">

<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>{{ title }}</title>
  <meta name="description" content="{{blurb}}">
  <meta name="author" content="Carlton Segbefia">

  <!-- Other SEO tags
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="author" href="https://blog.carltonsegbefia.com/humans.txt" />

  <meta name="og:type" content="website" />

  <meta name="og:title" content="{{ title }}|Carlton Segbefia's Blog" />

  <meta name="og:description" content="{{blurb}}" />

  <meta name="twitter:card" content="summary" />

  <meta name="twitter:title" content="{{ title }}|Carlton Segbefia's Blog" />

  <meta name="twitter:description" content="{{blurb}}" />

  <meta name="next-head-count" content="10" />

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="../css/normalize.css">
  <link rel="stylesheet" href="../css/custom.css">
  <link rel="stylesheet" href="../css/skeleton.css">


  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <!-- <link rel="icon" type="image/png" href="images/favicon.png"> -->

  <!-- <base href="https://www.blog.carltonsegbefia.com" /> -->


</head>

<body>

  <!-- Header
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  {{> header }}

  <!-- Body
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <article class="container">
    <div class="row">
      <h2 class="row heading">
        {{ title }}
      </h2>
      <h5 class="row sub-heading">
        {{ moment date lang="en" format="Do MMMM YYYY" }} | {{#if readingTime}} Approximately a {{ readingTime }}{{/if}}
      </h5>
    </div>
    {{{ contents }}}

    <div class="row tags">
      <span>Tags:</span>
      {{#each tags}}
        <a href="/tags/{{this.name}}" class="tag">{{this.name}}</a>
      {{/each}}
    </div>
  </article>

  <!-- Next and Previous Links
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <div class="row">
      <div class="four columns">
        {{#if previous }}
          <a href="/{{previous.path}}">Previous: {{previous.title}}</a>
        {{/if}}
      </div>

      <div class="four columns">
        {{#if next }}
          <a href="/{{next.path}}">Next: {{next.title}}</a>
        {{/if}}
      </div>

    </div>
  </div>


  <!-- Footer
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  {{> footer }}

  <!-- End Document
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>

</html>
