<!DOCTYPE html>
<html lang="en">

<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>{{tag}}|Carlton Segbefia's Blog</title>
  <meta name="description" content="This is an index of articles by Carlton Segbefia around {{tag}}">
  <meta name="author" content="Carlton Segbefia">


  <!-- Other SEO tags
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="author" href="https://blog.carltonsegbefia.com/humans.txt" />

  <meta name="og:type" content="website" />

  <meta name="og:title" content="{{tag}}|Carlton Segbefia's Blog" />

  <meta name="og:description" content="This is an index of articles by Carlton Segbefia around {{tag}}" />

  <meta name="twitter:card" content="summary" />

  <meta name="twitter:title" content="{{tag}}|Carlton Segbefia's Blog" />

  <meta name="twitter:description" content="This is an index of articles by Carlton Segbefia around {{tag}}" />

  <meta name="next-head-count" content="10" />


  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="../../css/normalize.css">
  <link rel="stylesheet" href="../../css/custom.css">
  <link rel="stylesheet" href="../../css/skeleton.css">


  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <!-- <link rel="icon" type="image/png" href="images/favicon.png"> -->

  <!-- <base href="https://www.blog.carltonsegbefia.com" /> -->

</head>

<body>

  <!-- Header
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  {{> header }}


  <!-- Tag Title
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <div class="row title">
      <h1 class="tag">{{tag}}</h1>
    </div>
  </div>

  <!-- Excerpts
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container excerpts">
    {{#each pagination.files}}
      <div class="row">
        <div class="row">
          <h4 class="row">
            <a style="text-decoration:none;" href="/{{path}}"><strong>{{title}}</strong></a>
          </h4>
          <span class="row sub-heading">
            <em>{{ moment date lang="en" format="Do MMMM YYYY" }} | {{#if readingTime}} About a {{ readingTime }}{{/if}}</em>
          </span>
        </div>
        <div class="row text">
          {{{excerpt}}}
          <a href="/{{path}}"><span>Continue Reading...</span></a>
        </div>
      </div>
    {{/each}}
  </div>

  <!-- Pagination
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  {{#if pagination.previous}}<a href="{{pagination.previous.path}}">Previous</a>{{/if}}
  {{#if pagination.next}}<a href="{{pagination.next.path}}">Next</a>{{/if}}

  <!-- Footer
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  {{> footer }}

  <!-- End Document
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>

</html>
